.product {
    display: flex;
    justify-content: center;
}

.product-container {
    display: flex;
    text-align: center;
    vertical-align: middle;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: #133591;
    overflow: hidden;
    text-decoration: none;
}

.product-text {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .product-container {
        margin-top: calc(15/767*100vw);
        height: calc(250/767*100vw);
        width: calc(1000/767*100vw);
        border-radius: calc(15/767*100vw);
        padding: calc(20/767*100vw);
        padding: calc(0/767*100vw);
    }

    .img {
        width: calc(500/767*100vw);
    }

    .product-img {
        margin: calc(5/767*100vw);
        height: calc(250/767*100vw);
    }

    .product-text {
        width: calc(500/767*100vw);
    }

    .product-title {
        margin: calc(5/767*100vw);
        font-size: calc(40/767*100vw);
    }
    
    .product-vendorcode {
        margin: calc(5/767*100vw);
        font-size: calc(30/767*100vw);
    }
    
    .product-description {
        margin: calc(5/767*100vw);
        font-size: calc(25/767*100vw);
    }
    
    .product-price {
        margin: calc(5/767*100vw);
        font-size: calc(40/767*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    .product-container {
        margin-top: calc(15/1440*100vw);
        height: calc(250/1440*100vw);
        width: calc(1000/1440*100vw);
        border-radius: calc(15/1440*100vw);
        padding: calc(20/1440*100vw);
        padding: calc(0/1440*100vw);
    }

    .img {
        width: calc(500/1440*100vw);
    }

    .product-img {
        margin: calc(5/1440*100vw);
        height: calc(250/1440*100vw);
    }

    .product-text {
        width: calc(500/1440*100vw);
    }

    .product-title {
        margin: calc(5/1440*100vw);
        font-size: calc(40/1440*100vw);
    }
    
    .product-vendorcode {
        margin: calc(5/1440*100vw);
        font-size: calc(30/1440*100vw);
    }
    
    .product-description {
        margin: calc(5/1440*100vw);
        font-size: calc(25/1440*100vw);
    }
    
    .product-price {
        margin: calc(5/1440*100vw);
        font-size: calc(40/1440*100vw);
    }
}

@media screen and (min-width: 1440px) {

    .product-container {
        margin-top: calc(15/1440*100vw);
        height: calc(250/1440*100vw);
        width: calc(1000/1440*100vw);
        border-radius: calc(15/1440*100vw);
        padding: calc(20/1440*100vw);
        padding: calc(0/1440*100vw);
    }

    .img {
        width: calc(500/1440*100vw);
    }

    .product-img {
        margin: calc(5/1440*100vw);
        height: calc(250/1440*100vw);
    }

    .product-text {
        width: calc(500/1440*100vw);
    }

    .product-title {
        margin: calc(5/1440*100vw);
        font-size: calc(40/1440*100vw);
    }
    
    .product-vendorcode {
        margin: calc(5/1440*100vw);
        font-size: calc(30/1440*100vw);
    }
    
    .product-description {
        margin: calc(5/1440*100vw);
        font-size: calc(25/1440*100vw);
    }
    
    .product-price {
        margin: calc(5/1440*100vw);
        font-size: calc(40/1440*100vw);
    }
}

