.CommonButton {
    text-transform: uppercase;
    background: white;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s background-color, .2s color;

        &--light {
            background: white;
            border: 1px solid rgba(25, 118, 210, 0.5);
            color: #1976d2;
            
            &:hover {
                color: white;
                background: rgb(119, 119, 226);
            }

            &.CommonButton--disabled {
                border-color: grey;
                background-color: white;
                color: grey;
            }
        }

        &--dark {
            background-color: rgb(119, 119, 226);
            border: 1px solid rgba(25, 118, 210, 0.5);
            color: white;

            &:hover {
                background-color: white;
                color: #1976d2;
            }

            & .CommonButton--disabled {
                border-color: grey;
                background-color: white;
                color: grey;
            }
        }

        &--disabled {
            pointer-events: none;
        }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .CommonButton {
        padding: calc(5/767*100vw) calc(15/767*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .CommonButton {
        padding: calc(5/1440*100vw) calc(15/1440*100vw);
    }
}

@media screen and (min-width: 1440px) {
    .CommonButton {
        padding: calc(5/1440*100vw) calc(15/1440*100vw);
    }
}



