.Card {
    height: 500px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 3px 2px 10px 4px rgb(91 91 123 / 22%);
    overflow: hidden;
    text-decoration: none;
}
  
.Card-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
  
.Card-container {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    padding: 0;
}

.Card-button {
    justify-content: center;
    margin-top: 5px;
}

