.Header {
    display: flex;
    align-items: center;
    color: white;
    background: #9d9ddd18;
    height: 80px;
}

.img-title {
    height: 80px;
}

.quantity {
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: #9d9ddd;
}

.tel {
    font-size: x-large;
    text-decoration: none;
}

.Basket {
    align-items: center;
    text-decoration: none;
}

.clear {
    padding: 40px;
}

.Contacts {
    display: flex;
    margin-left:  250px;
}

.map {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

a {
    color: #1976d2;
}