

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #9d9ddd18;
}

.quantity {
    align-items: center;
    font-weight: bold;
    color: #9d9ddd;
}

.Basket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
}

.Basket {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-decoration: none;
}

.clearBasket-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearBasket {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #1976d2;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .Header {
        height: calc(80/767*100vw);
    }

    .quantity {
        font-size: calc(50/767*100vw);
    }

    .img-title {
        height: calc(80/767*100vw);
    }

    .Basket {
        font-size: calc(20/767*100vw);
        height: calc(80/767*100vw);
        width: calc(300/767*100vw);
    }

    .clearBasket {
        height: calc(80/767*100vw);
        width: calc(300/767*100vw);
        font-size: calc(20/767*100vw);
        padding-left: calc(80/767*100vw);
    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    .Header {
        height: calc(80/1440*100vw);
    }

    .quantity {
        font-size: calc(50/1440*100vw);
    }

    .img-title {
        height: calc(80/1440*100vw);
    }

    .Basket {
        font-size: calc(20/1440*100vw);
        height: calc(80/1440*100vw);
        width: calc(300/1440*100vw);
    }

    .clearBasket {
        height: calc(80/1440*100vw);
        width: calc(300/1440*100vw);
        font-size: calc(20/1440*100vw);
        padding-left: calc(80/1440*100vw);
    }
}

@media screen and (min-width: 1440px) {
    
    .Header {
        height: calc(80/1440*100vw);
    }

    .quantity {
        font-size: calc(50/1440*100vw);
    }

    .img-title {
        height: calc(80/1440*100vw);
    }

    .Basket {
        font-size: calc(20/1440*100vw);
        height: calc(80/1440*100vw);
        width: calc(300/1440*100vw);
    }

    .clearBasket {
        height: calc(80/1440*100vw);
        width: calc(300/1440*100vw);
        font-size: calc(20/1440*100vw);
        padding-left: calc(80/1440*100vw);
    }
}

